
.home-tiles-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.home-tile{
  flex-basis: calc(33.33% - 10px); /* 3 tiles wide with spacing */
  margin-bottom: 20px;
}

.home-tile img{
  width: 350px;
  height: 200px;
}