.top-bar{
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: black;
  height: 20px;
}


.home-tiles-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.home-tile{
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.home-tile img{
  width: 350px;
  height: 200px;
}

.pod-content-page{
  background-color: rgba(39, 78, 16, 0.781);
  color: white;
}

.bottom-bar{
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: black;
  height: 50px;
}
 